{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    {% if request.GET.msg == '403' %}
        <div class="alert-danger alert">Permission denied</div>
    {% endif %}
    <form class="form-signin" method="post" action="" style="max-width: 400px; margin: 0 auto;">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm mt-1" type="submit"> Submit</button>
    </form>
{% endblock %}
