{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <form class="mt-4" method="post">{% csrf_token %}
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary mt-2" type="submit">Save</button>
    </form>

    {% for object in accounts %}
        <div class="list-group-item mt-4">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Name: "{{object.name}}",   Api key: "{{object.api_key}}", Test account: "{{object.test_exchange}}"</h5>
            </div>
        </div>
    {% endfor %}

{% endblock %}